/* CUSTOME VARIABLES */

:root {
  --border1: solid blue;
  --border2: solid red;
}

/* LINES AND OVERALL STYLING */

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.all {
  border: solid 1px black;
  width: 50vw;
  margin: 10vh 20vh;
  box-shadow: 6px 19px 10px 6px darkgray;
  font-weight: 500;
  padding-right:1.2% ;
  padding-left: 1.2%;

}


.f-line {
  border: solid black 8px;
  margin-left: .1%;
  margin-right: .1%;
}
.t-line {
  border: solid black 1px;
  margin-top: 0%;
  padding: 0;
}
.st-line {
  border: solid black 1.5px;
  margin-top: 0%;
  padding: 0%;
}
.thinline{
  border: solid black .5px;
margin-top: 0;
margin-bottom: 0;
padding: 0;
}
/* ALL THE INFORMATION */

/* INITIAL SECTION */

h2 {
  font-size: 300%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1%;
  padding: 0;
}
.initial p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1%;
  font-size: 13px;
  /* Dont forget to target what you want to style */
}

.marginsn{
  margin-left: 4%;
}
/* AMPS SECTION */

.amps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 800;
  /* border: var(--border1); */
}
.amps > p:first-child {
  flex: 3 1 0;
  /* border: var(--border2); */
  align-self: flex-start;
}
.amps > p:nth-child(2) {
  flex: 0.5 1 0;
  /* border: var(--border2); */
  align-self: flex-start;
}
.amps > p:nth-child(3) {
  flex: 0.5 0 0;
  /* border: var(--border2); */
  align-self: flex-start;
  text-align: center;
}

/* USE PSEUDO SELECTORS!!!!! */

/* NC SECTION */

.nc {
  display: flex;
  /* border: var(--border1); */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 900;
}

.nc > p:first-child {
  align-self: flex-start;
  flex: 2 1 0;
  /* border: var(--border2); */
}
.nc > p:nth-child(2) {
  align-self: flex-start;
  flex: 0.4 1 0;
  /* border: var(--border2); */
}
.nc > p:nth-child(3) {
  align-self: flex-start;
  flex: 0 1 0;
  /* border: var(--border2); */
}

/* NC_SUB SECTION */

.nc_sub {
  display: flex;
  /* border: var(--border1); */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

.nc_sub > p:first-child {
  align-self: flex-start;
  flex: 2 1 0;
}

.nc_sub > p:nth-child(2) {
  align-self: flex-start;
  flex: 0.4 1 0;
  /* border: var(--border2); */
}
.nc_sub > p:nth-child(3) {
  align-self: flex-start;
  flex: 0 1 0;
  /* border: var(--border2); */
}

/* DAILY VALUE */

.dv {
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
  font-weight: bolder;
}

/* TOTAL FAT */

.TF {
  display: flex;
  /* border: var(--border1); */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 800;
}

.TF > p:first-child {
  align-self: flex-start;
  flex: 2 1 0;
  /* border: var(--border2); */
}
.TF > p:nth-child(2) {
  align-self: flex-start;
  flex: 0.4 1 0;
  /* border: var(--border2); */
}
.TF > p:nth-child(3) {
  align-self: flex-start;
  flex: 0 1 0;
  /* border: var(--border2); */
}

/* SATURATED FAT */

.SF {
  display: flex;
  /* border: var(--border1); */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

.SF > p:first-child {
  align-self: flex-start;
  flex: 2 1 0;
  /* border: var(--border2); */
}
.SF > p:nth-child(2) {
  align-self: flex-start;
  flex: 0.37 1 0;
  /* border: var(--border2); */
}
.SF > p:nth-child(3) {
  align-self: flex-start;
  flex: 0 1 0;
  /* border: var(--border2); */
}

/* TRANS FAT */

.TRF {
  display: flex;
  /* border: var(--border1); */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

/* CHORESTEROL */

.C {
  display: flex;
  /* border: var(--border1); */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

.C > p:first-child {
  align-self: flex-start;
  flex: 2 1 0;
  /* border: var(--border2); */
}
.C > p:nth-child(2) {
  align-self: flex-start;
  flex: 0.41 1 0;
  /* border: var(--border2); */
}
.C > p:nth-child(3) {
  align-self: flex-start;
  flex: 0 1 0;
  /* border: var(--border2); */
}

/* SODIUM */

.S {
  display: flex;
  /* border: var(--border1); */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

.S > p:first-child {
  align-self: flex-start;
  flex: 2 1 0;
  /* border: var(--border2); */
}
.S > p:nth-child(2) {
  align-self: flex-start;
  flex: 0.39 1 0;
  /* border: var(--border2); */
}
.S > p:nth-child(3) {
  align-self: flex-start;
  flex: 0 1 0;
  /* border: var(--border2); */
}

/* TOTAL CARBOHYDRATE */

.tc {
  display: flex;
  /* border: var(--border1); */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

.tc > p:first-child {
  align-self: flex-start;
  flex: 2 1 0;
  /* border: var(--border2); */
}
.tc > p:nth-child(2) {
  align-self: flex-start;
  flex: 0.41 1 0;
  /* border: var(--border2); */
}
.tc > p:nth-child(3) {
  align-self: flex-start;
  flex: 0 1 0;
  /* border: var(--border2); */
}

/* FIBER */

.df {
  display: flex;
  /* border: var(--border1); */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

.df > p:first-child {
  align-self: flex-start;
  flex: 2 1 0;
  /* border: var(--border2); */
}
.df > p:nth-child(2) {
  align-self: flex-start;
  flex: 0.41 1 0;
  /* border: var(--border2); */
}
.df > p:nth-child(3) {
  align-self: flex-start;
  flex: 0 1 0;
  /* border: var(--border2); */
}

/* SUGAR */

.sug {
  display: flex;
  /* border: var(--border1); */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

/* VITAMINS */

.va {
  display: flex;
  /* border: var(--border1); */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

.va > p:first-child {
  align-self: flex-start;
  flex: 2 1 0;
  /* border: var(--border2); */
}
.va > p:nth-child(2) {
  align-self: flex-start;
  flex: 0.41 1 0;
  /* border: var(--border2); */
}
.va > p:nth-child(3) {
  align-self: flex-start;
  flex: 0 1 0;
  /* border: var(--border2); */
}

.vc {
  display: flex;
  /* border: var(--border1); */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

.vc > p:first-child {
  align-self: flex-start;
  flex: 2 1 0;
  /* border: var(--border2); */
}
.vc > p:nth-child(2) {
  align-self: flex-start;
  flex: 0.41 1 0;
  /* border: var(--border2); */
}
.vc > p:nth-child(3) {
  align-self: flex-start;
  flex: 0 1 0;
  /* border: var(--border2); */
}

/* CALCIUM */

.cal {
  display: flex;
  /* border: var(--border1); */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

.cal > p:first-child {
  align-self: flex-start;
  flex: 2 1 0;
  /* border: var(--border2); */
}
.cal > p:nth-child(2) {
  align-self: flex-start;
  flex: 0.37 1 0;
  /* border: var(--border2); */
}
.cal > p:nth-child(3) {
  align-self: flex-start;
  flex: 0 1 0;
  /* border: var(--border2); */
}

/* IRON */
.i {
  display: flex;
  /* border: var(--border1); */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

.i > p:first-child {
  align-self: flex-start;
  flex: 2 1 0;
  /* border: var(--border2); */
}
.i > p:nth-child(2) {
  align-self: flex-start;
  flex: 0.4 1 0;
  /* border: var(--border2); */
}
.i > p:nth-child(3) {
  align-self: flex-start;
  flex: 0 1 0;
  /* border: var(--border2); */
}

/* LOREM */

.lor {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

/* CALORIES start */

.flexy{
  display: flex;
  font-size: 12px;
  width: 100%;
}

.bigcol{
  width: 40%;
}

.smallcol{
  width: 20%;
  text-align: left;
  align-content: flex-end;
}


/* LAST */

.last{
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 12px;
}