.nav{
    display: flex;
    background-color: bisque;
    border-radius: 20vw;
    padding: 4px;
    gap: 20px;
}

.nav-i{
    display: flex;
    gap: 1rem;
    justify-content:center
}

.nav-i li{

}