*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.counter-container{
    display: flex;
    border: solid black 1px;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    gap: 30px;
    margin: 20vw;
}

.buttons{
    height: 200px;
    width: 200px;
    border-radius: 20vw;
    font-size: 20px;
}

#counter{
    font-size: xx-large;
}